body {
  background-image: url("../../../images/chair-bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: +50;
}
h1 {
  color: #3a4256;
  margin: 0;
}

.header-container {
  height: 100vh;
  position: relative;
  z-index: -50;
}
.header-container::after {
  height: 100vh;
  content: "";
  position: absolute;
  width: 400px;
  top: 0;
  right: 0;
  background-color: #3a4256;
  z-index: -50;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #fff;
    margin: 0;
  }
  .header-container::after {
    width: 600px;
  }
}